<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>购物车处理demo</title>
	<link rel="stylesheet" href="src/style.css">
</head>
<body>

    <div class="container" id="container"></div>

	<script  type="text/html" id="shoppingCartTpl">
		<div class="tpl-container">
		   {{ if data && data.length > 0 }}
		    <div class="tpl-header">
		    	<div class="tpl-title">全部商品{{data.length}}</div>
		    	<div class="tpl-head">
					<div class="column t-checkbox">
						<div class="cart-checkbox">
							<input type="checkbox"
							  {{if select == data.length }}
							    checked="checked"  
							 {{/if}}
							 data-event="ck-all"/>
							<label class="checked" for="">勾选全部商品</label>
						</div>
						全选
					</div>
					<div class="column t-goods">商品</div>
					<div class="column t-props"></div>
					<div class="column t-price">单价(元)</div>
					<div class="column t-quantity">数量</div>
					<div class="column t-sum">小计(元)</div>
					<div class="column t-action">操作</div>
		    	</div>
		    </div>
		    <div class="tpl-list">
			    {{each data as d index}}
	              <div 
                     {{if d.check==true }}
                     class="shop-box active"
                      {{else}}
                      class="shop-box"
                     {{/if}}
	              >
	                  <div class="check-box column">
	                    <input type="checkbox" 
	                  	{{if d.check==true }}
	                  	  checked="checked" 
	                  	{{else}}
	                  	  
	                  	{{/if}}
	                  	data-event="check" data-index="{{index}}" />
	                  </div>
	              	  <div class="shop-img column"><img src="{{d.img}}"  /></div>
	              	  <div class="shop-name column">{{d.name}}</div>
	              	  <div class="shop-props column">
	              	  	{{if d.props && d.props.length>0  }}
                           {{each d.props as p }}
                             {{p.name}} : {{p.value}}
                           {{/each}}
	              	  	{{/if}}
	              	  </div>
	              	  <div class="shop-price column" column>{{d.price}}</div>
	              	  <div class="shop-num-box column">
	              	    <div class="quantity-form">
	              	    	<a data-event="em" data-index="{{index}}"  href="javascript:;"
	                         {{if d.num==1}}
	                          class="decrement disabled"
	                          disabled = "disabled"
	                           {{else}}
                                   class="decrement"
           	                   {{/if}}
		              	  	>-</a>
		              	  	<input type="text" data-event="change" value="{{d.num}}" class="itext" data-index="{{index}}"/>
		              	  	<a data-event="ps" data-index="{{index}}" class="increment" href="javascript:;">+</a>
	              	    </div>
	              	  	
	              	  </div>
	              	  <div class="shop-total column"><strong>{{d.price * d.num}}</strong></div>
	    
	                  <div class="tool column"><a href="javascript:;" data-index="{{index}}" data-event="del">删除</a></div>
	              </div>
			{{/each}}
		    </div>
			<div class="tpl-footer">
				<div class="footer-left fl">
					<div class="inline ck-all">
						<label>
							<input type="checkbox" 
                            {{if select == data.length }}
							    checked="checked"  
							 {{/if}}
							data-event="ck-all">
							全选
						</label>
					</div>
					<div class="inline links">
						<a href="javascript:;">删除选中的商品</a>
						<a href="javascript:;">移到我的关注</a>
						<a href="javascript:;">清除下柜商品</a>
					</div>
				</div>
				<div class="footer-right fr ">
				<div class="go-pay fr">
						<a  href="javascript:;"
                        {{if select==0}}
                        class="btn btn-submit disabled"
                        disabled ="disabled"
                          {{else}}
                          class="btn btn-submit"
                        {{/if}}
						>去结算</a>
					</div>
					<div class="total-price fr">
						 <div>
						 	<div>
									<span class="txt txt-new">总价：</span>
									<span class="price sumPrice"><em>￥{{count}}</em></span>
									 
									 
									<br>
									<span class="txt">已节省：</span>
									<span class="price totalRePrice">-￥130.00</span>
								</div>
						 </div>
					</div>
					
				</div>
			</div>
			{{else}}
			     <div class="empty-shopping">购物车是空的</div>
			{{/if}}

		</div>
	</script>
	<script src="./src/jquery.js"></script>
	<script src="./src/template.js"></script>
	<script src="./src/shopping.js"></script>

	<script type="text/javascript">

	   /**
	    * 使用说明
	    * param 0 容器选择器  或者 jQuery 对象 
	    * param 1  
	    *          tpl 表示模板的id  使用模板的 可以兼容任何形式的的购物车 模板 随便造 主要注意 提供的参数 
	    *            模板中 data-event count  select  data 是提供给模板的数据源
	    *               
	    *          datasource 表示数据源
	    *
	    * 
	    * @type {String}
	    */
       new ShoppingCart('#container',{
       	   tpl:'#shoppingCartTpl',
       	   datasource:[{
       	   	    price:100.00,
       	   	    id:1,
       	   	    name:'楚家刀 大马士革千层水纹钢直刀 户外小猎刀出口芬兰刀北欧猎刀收藏锋利刀具 紫檀铜头手柄 紫檀铜头手柄',
       	   	    img:'http://img10.360buyimg.com/cms/s80x80_jfs/t3100/110/4161939775/359007/2ba1e09b/5835a243N614fae61.jpg',
       	   	    props:[{
       	   	    	name:'颜色',
       	   	    	value:'紫檀铜头手柄'
       	   	    }]
       	   },{
       	   	    price:100.00,
       	   	    id:2,
       	   	    name:'双立人厨房刀具套装菜刀剪刀水果刀多用刀砍骨刀刨皮刀磨刀棒8件套',
       	   	    img:'http://img10.360buyimg.com/cms/s80x80_jfs/t2839/206/3915558138/453904/7f60c051/57a3e6bdNb2499ca4.png',
       	   	    props:[{
       	   	    	name:'颜色',
       	   	    	value:'玉玲款'
       	   	    }]
       	   }]
       });

	</script>
</body>
</html>